@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-rounded::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-rounded::-webkit-scrollbar-track {
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  border-radius: 15px;
}
.scrollbar-rounded::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 5px;
}
.scrollbar-rounded::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-focused);
}

@layer base {
  :root {
    --background: 0, 0%, 94%;
    --foreground: 159, 27%, 15%;

    --card: 109, 26%, 41%;
    --card-foreground: 0, 0%, 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 109, 26%, 41%;
    --primary-foreground: 0, 0%, 96%;

    --secondary: 0, 0%, 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0, 0%, 98%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 176, 61%, 19%;
    --destructive-foreground: 210 40% 98%;

    --border: 159, 27%, 15%;
    --input: 214.3 60% 91.4%;

    --radius: 0.5rem;
    --scrollbar: hsla(159, 27%, 15%, 0.6);
    --scrollbar-focused: hsla(159, 27%, 15%, 0.85);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 109, 26%, 28%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 176, 61%, 19%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 40% 98%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 32.6% 17.5%;

    --scrollbar: hsla(210, 40%, 98%, 0.6);
    --scrollbar-focused: hsla(210, 40%, 98%, 0.85);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
